

<div>
    <h1>Previous Blog Posts</h1>

    <button ng-click='goToCreate()'>CREATE A NEW POST</button>
    <ul class="list-group">
        <li class="list-posts" ng-repeat="post in posts">
            <span class="text">{{post.title}}</span>
            <span class="text">{{post.author}}</span>
            <span class="text">{{post.createdAt}}</span>
            <!--have a link to #/singlepost/[whatever_id]-->
        </li>
    </ul>
    <!--<button ng-href="http://localhost:3000/api/posts/#">View More...</button>-->
</div>
